html
  head
    title= title || 'Janus'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/javascripts/jquery-ui.min.css')
    link(rel='stylesheet', href='/javascripts/jquery-ui.structure.min.css')
    link(rel='stylesheet', href='/javascripts/jquery-ui.theme.min.css')

    script(type='text/javascript', src="/javascripts/jquery-1.11.1.min.js")
    script(type='text/javascript', src="/javascripts/jquery-ui.min.js")
    script(type='text/javascript', src="/javascripts/util.js")

  body
    script(type='text/javascript').
      $(function() {
        //Set the id attribute to the name of the input control
        $('input, select, textarea').each(function() {
          if($(this).attr('name')) {
            $(this).attr('id', $(this).attr('name'))
          }
        })

        //Display the .error text in red colour
        $('.error').css('color', 'red');
      });

    div.banner
      -if (session && session.user) 
         span Welcome #{session.user.first_name} #{session.user.last_name}

    div.content
      block content

    #dialog