body {
	width: 95%;
	margin: 1% auto;
}
a {
  color: #00B7FF;
}

.table {
   display:table;
}

.table-row {
   display:table-row;
}

.table-cell {
   display:table-cell;
}

label {
	padding: 0px 10px 0px 10px;
}

.content {
	width: 80%;
    content: 80%;
    margin: 0 auto;
    text-align: center;
}

.test {
    border:2px solid red;
}

.banner {
	text-align: right;
}