body {
	width: 95%;
	margin: 0.5% auto;
}
a {
  color: #00B7FF;
}

.table {
   display:table;
}

.table-row {
   display:table-row;
}

.table-cell {
   display:table-cell;
}

label {
	padding: 0px 10px 0px 10px;
}

.content {
	width: 80%;
    content: 80%;
    margin: 0 auto;
    text-align: center;
}

.test {
    border:2px solid red;
}

.banner {
	text-align: right;
}

#menubar {
    height: auto;
    list-style-type: none;
    padding: 8px 0px;
    margin: 0px;
    background: #ddeebb;
}

#menubar  li {
    display: inline;
    float: both;
}

#menubar a {
  padding: .3em .4em .3em .4em;
  text-decoration: none;
  font-weight: bold;
  font-size: medium;
  color: #004415; 
}

#menubar a:visited{
   margin: 0;
   padding: .3em .4em .3em .4em;
   text-decoration: none;
   font-weight: bold;
   font-size: medium;
   color: #227755;
}

#menubar a:active{
   margin: 0;
   padding: .3em .4em .3em .4em;
   text-decoration: none;
   font-weight: bold;
   font-size: medium;
   color: #227755;
} 

#menubar a:hover{
   margin: 0;
   padding: .3em .4em .3em .4em;
   text-decoration: none;
   font-weight: bold;
   font-size: medium;
   color: #f6f0cc;
   background-color: #227755;
   border-top-left-radius:15px;
   border-bottom-left-radius:15px;
   border-top-right-radius:15px;
   border-bottom-right-radius:15px;
}